body,div,ul,li,h3,h4{
    margin: 0;
    padding: 0;
}
li{  list-style-type: none;  }
a{  text-decoration: none;cursor: pointer;  }
.runoob {
    width: 100%;
    height: 3868px;
    background: #f6f6f6;
    border-bottom: 1px solid #E4E4E4;
}